.profile-info__button {
  width: 100%;
  max-width: 24px;
  min-height: 24px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  background-color: #000000;
  margin: 0 0 0 25px;
  padding: 0;
  align-self: center;
  cursor: pointer;
  transition: .5s;
}

.profile-info__button:hover {
  opacity: .6;
}