.profile-info {
  color: #FFFFFF;
  width: 100%;
  max-width: 345px;
  min-height: 73px;
  display: grid;
  justify-content: left;
  grid-template-columns: minmax(min-content, max-content) 43px;
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
}

@media screen and (max-width: 767px) {
  .profile-info {
    justify-content: center;
  }
}