.profile__button {
  max-width: 150px;
  width: 100%;
  min-height: 50px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #000000;
  margin: 0 0 0 auto;
  padding: 0;
}