.elements__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 282px);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    grid-auto-rows: 1fr;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 20px 17px;
    list-style: none;
}